@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Yeseva+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/beckman-2');

* {
    box-sizing: border-box;
  }

html{
    font-size: 62.5%;
    font-family: 'Beckman', sans-serif;
    overflow-x: hidden;
}

:root {
    --font: #ced4e6;
    --background: #041148;
    --button: #64FFDA;
    --button-font: #64FFDA;
    --subtle-gray: #324d74;
    --heading-gray: #e4e2e2;
    --heading-white: #fbf9f9;
  }

body{
    background-color: var(--background);
    color: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main{
    max-width: 80%;
    margin: 10rem auto;

}

h1, h2, h3{
    font-family: 'Beckman', sans-serif;
    color: var(--heading-white);
    
}

h1{
    font-size: 7rem;
    padding: 0;
    margin: 0;
    font-weight: 800;
}

h2{
    font-size: 4rem;
    margin: 0;
}

h3{
    font-size: 3rem;
    margin-bottom: 0;
}

h4{
    font-size: 2rem;
    color: var(--heading-white);
    font-weight: 500;
}

p, li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font);
}

a{
    color: var(--heading-gray);
}

.button{
    border: solid 5px var(--button);
    color: var(--button);
    padding: 1rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2rem;
    box-shadow:  20px 20px 60px #050d19,
             -20px -20px 60px #0f2545;
    
}

.nav-button{
    border: solid 5px var(--button);
    color: var(--button);
    padding: 0.4rem;
    border-radius: 5px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2rem;
}

.button-no-border{
    color: var(--button);
    padding: 1rem 3rem;
    text-decoration: none;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2rem;
}

img{
    border-radius: 10px;
}

.button:hover {
        scale: 1.05;
      }

.button:active {
        scale: 1;
      }

.button-no-border:hover {
        scale: 1.05;
      }

.button-no-border:active {
        scale: 1;
      }

.center{
    display: flex;
    justify-content: center;
}

.spacing{
    margin: 0 0 5rem 0;
}

footer{
    background-color: var(--background);
    width: 100%;
    padding-top: 10rem;
}

footer h2 {
    color: var(--font) !important;
}

footer p {
    color: var(--font) !important;
}

footer a {
    color: var(--font) !important;
}

.contact-section{
    text-align: left;
    width: 45%;
    margin: auto;
}

.kontakt{
    padding: 4rem;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #050d19,
             -20px -20px 60px #0f2545;
}

.copyright{
    text-align: center;
    margin: auto;
    padding-top: 4rem;
}

/* Header */

header{
    padding: 1rem auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 6rem;
}


nav{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.nav-logo{
    max-height: 6rem;
    transition: 0.2s ease-in-out;
    padding: 1rem;
    font-family: Beckman, sans-serif;
    font-size: 3rem;
    text-decoration: none;
    padding: 0.2rem 0.6rem;
    border: 4px solid var(--heading-white);
    font-weight: 600;
    margin: 1rem 0;
    letter-spacing: 0.2rem;
    border-radius: 10%;
}

.nav-logo:hover{
    scale: 1.05;
    color: var(--button);
    border: 5px solid var(--button);
}

nav ul{
    display: flex;
    list-style: none;
    z-index: 10;
}

nav ul a{
    padding: 0 2rem;
    text-decoration: underline rgba(0, 0, 0, 0);
    text-transform: uppercase;
    color: var(--heading-white);
    font-family: "Poppins", sans-serif;
    font-weight: bold; 
    transition: 0.3s ease-in-out;
    transition: text-decoration-color color 0.3s;
    text-underline-offset: 1rem;
}
nav ul a:hover{
    color: var(--button);
    text-decoration-color: var(--button);
}

a:hover{
    color: var(--button);
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* Hero */

.hero-text{
    padding-top: 6rem;
    position: relative;
}

.underrubrik{
    max-width: 40%;
    margin-bottom: 3rem;
}

.hero spline-viewer{
    position: absolute;
    top: 0;
    left: 20rem;
    overflow-x: hidden;
}

.text-rotate-container{
        overflow: hidden;
        position: relative;
        height: 7rem;    
}

.rotate-and-plus{
    display: flex;
    align-items: center;
}

.text-rotate-items {
    color: var(--font);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: move 10s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  @keyframes move {
    0%  { top: 0rem; }
    20% { top: -8rem; }
    40% { top: -16rem; }
    60% { top: -24rem; }
    80% { top: -32rem; }
    }

    .plus{
        color: var(--button);
        margin-right: 1rem
    }

    .scroll-chevron{
        position:absolute;
        width: 8rem;
        left: 50%;
        bottom:2vh;
        transform:translateY(-100%);
        color: var(--button);
    }

    .scroll-chevron svg{
        height: 4rem;
        width: 4rem;
    }

    .skills-container{
        display: flex;

    }

.skills-section {
display: flex;
  justify-content: center;
  align-items: center;
}    

.skills-section article{
    width: 100%;
}   

.skills{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 70%;
    margin: auto;
    }

.skills img{
        height: 5rem;
        
    }

.skills p{
        text-align: center;
        color: var(--button);
        
    }

    .flip-card-back p{
        color: var(--background);
    }

.skill{
        border: solid 4px var(--button);
        padding: 2rem 1rem 0 1rem;
        border-radius: 5px;
background: #0A192F;
box-shadow:  20px 20px 60px #050d19,
             -20px -20px 60px #0f2545;
    }

    .flip-card {
        cursor: pointer;
        perspective: 1000px;
        height: 14rem;
      }

      .flip-card h4{
        color: var(--background);
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      } 
      
      .flip-card-back {
        background-color: var(--button);
        color: var(--background);
        transform: rotateY(180deg);
        border-radius: 5px;
      }

      .stars{
        display: flex;
        justify-content: center;
        color: var(--background);
      }

      .stars img{
        display: flex;
        justify-content: center;
        filter: invert(99%) sepia(87%) saturate(7474%) hue-rotate(322deg) brightness(100%) contrast(101%);
      }

      .stars img{
        max-width: 2rem;
      }


  /* Portfolio */

  #portfolio h2{
    margin-top: 10rem;
  }

.case-study{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10rem 0;
    justify-content: space-between;
    padding: 4rem 3rem;
    border-radius: 50px;
background: var(--background);
box-shadow:  20px 20px 60px #050d19,
             -20px -20px 60px #0f2545;
}

.case-study h3{
    margin-top: 5px;
    color: var(--heading-white);
}

.case-study h4{
    margin: 0;
    color: var(--heading-gray);
}

.case-study article{
    width: 45%;
}

.case-study img{
    width: 45%;
}

.used-skills-container{
    display: flex;
    flex-wrap: wrap;
}

.used-skills{
    background-color: var(--subtle-gray);
    padding-inline: 1rem;
    border-radius: 50px;
    margin-inline: 0.2rem;
    margin: 4px 4px
}

/* Om Louise */

.viewheight{
    min-height: 100vh;
}

.om-louise{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#om-louise h2{
    padding: 10rem 0 5rem 0;
}

.om-louise spline-viewer{
    max-width: 500px;
    padding-left: 5rem;
}

.om-louise-spline-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;}

.om-louise-text{
    width: 50%;
    padding: 0 2rem 2rem 2rem;
    border-radius: 50px;
    background: var(--background);
    box-shadow:  20px 20px 60px #050d19,
                 -20px -20px 60px #0f2545;
}

.om-louise ul{
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0;
}

.om-louise li{
    display: flex;
    align-items: center;
}

.like-list{
    display: flex;
    justify-content: space-between;
}

.om-louise svg{
    padding-right: 1rem;
    max-width: 2.2rem;
}

/* Social media vertical bar */

.verticalBox {
    position: fixed;
    bottom: 0;
    left: 2%;
  }
  
  .verticalBox .logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .verticalBox .logo svg {
    color: var(--button);
    transition: 0.3s;
    margin-top: 1rem;
    scale: 0.9;
  }
  
  .verticalBox .logo svg:hover {
    scale: 1.1;
  }
  
  .verticalBox hr {
    background-color: var(--button);
    color: var(--button);
    height: 20rem;
    width: 1px;
    margin: auto;
    border: none;
  }

/* Single case-study */

.single-casestudy-top{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-case h1{
    font-size: 5rem;
}

.single-case-study-top-h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.single-case h2 {
    font-size: 3rem;
}

.single-case h3{
    font-size: 1.8rem;
}

.single-case p {
    padding: 0.8rem 0;
}

figcaption{
    font-family: Poppins, sans-serif;
    font-style: italic
}

.white-bg{
    background: rgb(170,251,255);
background: linear-gradient(90deg, rgba(170,251,255,1) 0%, rgba(196,247,231,1) 100%);
width: 100%;
}

.single-casestudy-top article{
    max-width: 50%;
    
}

.single-casestudy-top p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.table-container{
    border-radius: 50px;
    padding: 2rem;
    box-shadow:  20px 20px 60px #050d19,
             -20px -20px 60px #0f2545;
    max-width: 40%;
}

.single-casestudy-top table{
    
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    border-collapse: collapse;
    
}

tr{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(5);
    grid-column-gap: 0px;
    padding: 0.5rem 0;
}

td:nth-child(odd) {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: bold;
  }

  .single-casestudy-text-box{
    max-width: 60%;
    margin: auto;
    padding: 4rem 0 4rem 0;
  }

  .single-case img{
    max-width: 100%;
  }

  .image-gallery{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .image-gallery figure{
    max-width: 48%;
    padding: 0;
    margin: 0 0 4rem 0;
    transition: 0.5s ease-in-out; 
  }
  .image-gallery img{
    object-fit: cover;
    object-position: 50% 0% ;
width: 100%;
max-height: 650px;
  }

  .timeline {
    position: relative;
    width: 100%;
    height: 0.8rem;
    background: var(--button);
    bottom: 0rem;
    left: 0;
    animation: progressbar linear;
    animation-timeline: scroll();
  }


  
  @keyframes progressbar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 40em){
    

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2rem;
    }
    
    p{
        font-size: 1.7rem;
    }


    main{
        margin: auto;
    }

    .underrubrik{
        max-width: 100%;
    }

    .hero-text{
        padding-top: 15rem;
    }

    .hero spline-viewer{
        top: -25rem;
        left: 0;
    }

    .text-rotate-container{
        overflow: hidden;
        position: relative;
        height: 4rem;    
}

.text-rotate-items {
    color: var(--font);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    animation: move 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }

  @keyframes move {
    0%  { top: 0rem; }
    20% { top: -4.5rem; }
    40% { top: -9.1rem; }
    60% { top: -13.7rem; }
    80% { top: -18.5rem; }
    }
    

.om-louise-text{
    width: 100%; 
    padding-bottom: 10rem;
} 

.mine-skills{
    margin-top: 10rem;
}

.spacing{
    margin: 0 0 0 0;
}

.skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
    }

    .case-study article{
        width: 100%;
    }
    
    .case-study{
        margin-top: 5rem;
    }

    .case-study img{
        width: 100%;
    }

    .case-study{
        margin: 10rem 0;
    }

    .contact-section{
        margin: 3rem;
        width: 90%;
        border-radius: 50px;
    }

   nav{
    padding: 0 2rem 1rem 2rem;
   }

        .nav-menu {
            position: fixed;
            top:0;
            left: 100%;
            flex-direction: column;
            background-color: var(--background);
            width: 100%;
            height: 110%;
            text-align: center;
            padding-top: 15rem;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 1;
        }
    
        .nav-menu.active {
            left: 0;
            margin-top: 0;
        }
    
        .nav-item {
            margin: 2.5rem 0;
        }

        .logo{
            padding: 1rem 0 0 1rem;
        }
    
        .hamburger {
            display: block;
            cursor: pointer;
            padding: 1rem 1rem 0 0;
            z-index:10;
        }

        .bar{
            background-color: var(--heading-white);
            
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .single-casestudy-top{
            padding-bottom: 5rem;
        }
        
        .single-casestudy-top article{
            max-width: 100%;
            padding-bottom: 5rem;
        }

        .single-case-study-top-h2{
            padding-top: 5rem;
        }

        .table-container{
            max-width: 100%;
        }

        .single-casestudy-text-box{
            max-width: 100%;
            margin: auto;
          }
          .image-gallery figure{
            max-width: 100%;
            margin-bottom: 7rem;
          }

          .om-louise spline-viewer{
            padding-left: 0rem;
        }

        .verticalBox {
            position: static;
            margin-top: 5rem;
          }
          
          .verticalBox .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5rem;
          }
          
          .verticalBox .logo svg {
            color: var(--button);
            transition: 0.3s;
            scale: 1.5;
            
          }
          
          .verticalBox hr {
            display: none;
          }

          .kontakt{
            margin-top: 5rem;
        }
        footer{
            padding-top: 5rem;
        }
        .button-no-border{
            padding: 1rem;
        }
}